body, h1, h2, p {
  margin: 0;
  padding: 0;
}

/* Styl dla całej strony */
body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
}

/* Styl dla nagłówka */
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

/* Styl dla głównego obszaru */
main {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

/* Styl dla sekcji o barburce */
.barburka {
  background-color: #f9f9f9;
  color: #333;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.barburka h2 {
  color: #333;
}

.barburka p {
  font-size: 16px;
  line-height: 1.5;
}

.barburka img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

/* Styl dla stopki */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
